*.swp
tasks.json
/.idea
*.iml
/bin/build it
/test_*/
/cli/debug_cli/main.go
/*/*.iml
/vendor
.glide
.be-*
samples/forjj*/Forjfile
samples/test*/Forjfile
.publish_lacws
forjj
bin/gothub
debug
debug.test
